<div id="footer">
  <div class="footer--links">
    <a
      target="_blank"
      aria-label="View my CV"
      rel="noreferrer"
      class="contact_cv"
      href="https://slenane.github.io/CV/"
      >CV</a
    >
    <a
      target="_blank"
      aria-label="View my GitHub profile"
      rel="noreferrer"
      href="https://github.com/slenane"
      ><i class="fab fa-github"></i
    ></a>
    <a
      target="_blank"
      aria-label="View my Linkedin profile"
      rel="noreferrer"
      href="https://www.linkedin.com/in/stephen-lenane-6756a0228/"
      ><i class="fab fa-linkedin"></i
    ></a>
  </div>
  <div>
    <small class="footer--copyright">Copyright &copy; 2021, Stephen Lenane</small>
  </div>
</div>


    <!-- BOOTSTRAP -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
      nonce="<%=randomNonce%>"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
      nonce="<%=randomNonce%>"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
      nonce="<%=randomNonce%>"
    ></script>
    <!-- SOCKET.IO -->
    <script src="/socket.io/socket.io.js" nonce="<%=randomNonce%>"></script>
    <!-- INDEX.JS -->
    <script
      src="/assets/javascripts/index.js"
      nonce="<%=randomNonce%>"
    ></script>
  </body>
</html>
